body  {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', sans-serif;
    background-color:#005566;
    color:  #e36414 ;
    font-size: 24px;
    line-height: 30px;
}

ul li {
    list-style-type: none;
}

#banner {
    min-height: 100vh;
}
/* 
.carousel-inner {
    height: 100%;
} */

.carousel-item {
    /* position: absolute; */
}

.top-right {
    max-width: 30%;
    background-color:#ed7f09;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 16px;
    height: 150px;
    font-size: 24px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    bottom: 50px;
    background-color: #b33404;
}

#about {
    background: #fff;
}

#about h2, #about h4, #about p {
    color: #005566;
}

.btn-outline-secondary {
    color: #005566;
    border: 2px solid #005566;
}

.btn-outline-secondary:hover {
    color: #fff;
    border: 2px solid #005566;
    background: #005566;
}

#profile img {
    width: 500px;
    height: 500px;
}

.card {
    background: #e36414;
    color: #fff;
}


.icon {
    width: 50px;
    height: 50px;
    background-color:  #e36414;
}

.fab, .fas, .far {
    color:#fff ;
}

.fas, .far {
    font-size: 35px;
}
